@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3879b9;
  /* background-image: url("image.jpg"); */
  /* background: linear-gradient(to right, blue, purple); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050a30;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  header {
    background-color: rgb(18, 18, 67);
  }
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(209, 24, 24, 0.05);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 109, 220, 0.4) rgba(255, 255, 255, 0.05);
}